header.header
    .header_wrapper
        .header_column
            a(href=routes.home)
                // eIeIO Logo
                h3 eIeIO
        .header_column
            ul
                if !user.isAuthenticated
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else
                    li
                        a(href=routes.userDetail(user.id)) My Land
                    li
                        a(href=routes.logout) Log Out