extends layouts/main

block content
    .form-container
        form(action=`/lands${routes.addLand}`, method="post")
            label(for='Name') Name of land:
            input(type='text', name='name', placeholder='Name', required=true)
            label(for='PointA') North East (NE) Point of land:
            input(type='text', name='pointALong', placeholder='Longitude', required=true)
            input(type='text', name='pointALat', placeholder='Latitude', required=true)
            label(for='PointB') South West (SW) Point of land:
            input(type='text', name='pointBLong', placeholder='Longitude', required=true)
            input(type='text', name='pointBLat', placeholder='Latitude', required=true)
            label(for='CO') Desired CO value (in ppm):
            input(type='text', name='userCO', placeholder='3.5', required=true)
            label(for='MOISTURE') Desired Soil moisture value (in %):
            input(type='text', name='userMoist', placeholder='80', required=true)
            label(for='PH') Desired pH value:
            input(type='text', name='userPH', placeholder='6', required=true)
            input(type="submit", value="ADD")
    