extends layouts/main

block content
    div
    // THE ENTIRE THING
    .row.title-area()
        .col-sm-2
        .col-sm-10
        h1
            | #{name}
            br
        .col-sm-2
        .col-sm-10
        p
            b NE: 
            |  #{pointALong}, #{pointALat} 
            br
            b SW:
            |  #{pointBLong}, #{pointBLat}
            br
            b Desired CO:
            |  #{userCO}
            br
            b Desired Moisture:
            |  #{userMoist}
            br
            b Desired pH:
            |  #{userPH}
            br
            b Last reading:
            |  #{surveyDate}

        .form-container
            form(method="get", action=routes.startSurvey(land.id))
                input(type="submit", value="Request Survey")
    br
    // Div after the title
    div(style='background-color: #f8f8f8')
        // RECENT READINGS
        div
        .title-with-margins.analysis-section-title
            h3 Most recent readings

        .row.reading
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.green.font-weight-light
                .reading-title
                    p Carbon Monoxide:
                p
                | #{surveyCO} ppm
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.green.font-weight-light
                .reading-title 
                    p Soil Moisture:
                P
                | #{surveyMoist} %
                p.green
                | very moist
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.red.font-weight-light
                .reading-title
                    p pH:
                | #{surveyPH}
                p.red
                | slightly acidic
        // <div id="pHtable"></div>

        .title-with-margins.analysis-section-title
            h3 Trends

        .row.trends
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.green.font-weight-light
                .reading-title
                    p Carbon Monoxide

                script(src='scripts/readingTrends.js')
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.green.font-weight-light
                .reading-title 
                    p Soil Moisture
        
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.red.font-weight-light
                .reading-title
                    p pH

        .title-with-margins.analysis-section-title
            h3 Visualisation of Recent Readings
            p These heatmaps visualise the values of the recent set of readings accross the land area

        .row.trends
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.green.font-weight-light
                .reading-title
                    p Carbon Monoxide

            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.green.font-weight-light
                .reading-title 
                    p Soil Moisture
        
            .col-xs-4.col-centered
            .card.card-1.card-contents.reading
                h1.big.red.font-weight-light
                .reading-title
                    p pH

        // DIV PLOTS START HERE
        .row(style='display: flex; align-items: center; justify-content: center')
            #co-heatmap.plotly-graph-div.col-xs-12.col-centered.heatmap-format(style='width: 1200px; margin: 25px 25px 25px 0px')
            #moisture-heatmap.plotly-graph-div.col-xs-12.col-centered.heatmap-format(style='width: 1200px; margin: 25px 25px 25px 0px')
            #pH-heatmap.plotly-graph-div.col-xs-12.col-centered.heatmap-format(style='width: 1200px; margin: 25px 25px 25px 0px')
        // DIV PLOTS END HERE
        // LAND ANALYSIS AREA ENDS HERE
        a(href=routes.deleteLand(land.id)) 
            button.delete Delete Land
