extends layouts/main
block content
    div
    // THE ENTIRE THING
    .row.title-area(style='align-items: baseline')
        .col-sm-2
        .col-sm-10
        h1
            | #{name}
            br
        p
            | NE: #{pointALong}, #{pointALat} 
            br
            | SW: #{pointBLong}, #{pointBLat}
            br
            | Last reading: #{date}
    .form-container
        form(method="get", action=routes.startSurvey(land.id))
            input(type="submit", value="Start Survey")
    br
    // Div after the title
    div(style='background-color: #f8f8f8')
        // RECENT READINGS
        div
        .title-with-margins
            h1
            | Most recent readings
        .row(style='display: flex; align-items: center; justify-content: center')
            .col-xs-4.col-centered
            .card.card-1.card-contents
                h1.big.green.font-weight-light
                | #{CO_VALUE}
                p.green
                | ppm
                p
                | Carbon Monoxide
            .col-xs-4.col-centered
            .card.card-1.card-contents
                h1.big.green.font-weight-light
                | #{MOISTURE_VALUE}
                p.green
                | very moist
                p
                | Soil Moisture
            .col-xs-4.col-centered
            .card.card-1.card-contents
                h1.big.red.font-weight-light
                | #{PH_VALUE}
                p.red
                | slightly acidic
                p
                | pH
        // RECENT READINGS END HERE
        // <div id="pHtable"></div>
        div
        // LAND ANALYSIS AREA STARTS HERE
        .title-with-margins
            h1
            | Overall land analysis
        // DIV PLOTS START HERE
        .row(style='display: flex; align-items: center; justify-content: center')
            #co-heatmap.plotly-graph-div.col-xs-12.col-centered.heatmap-format(style='width: 1200px; margin: 25px 25px 25px 0px')
            #moisture-heatmap.plotly-graph-div.col-xs-12.col-centered.heatmap-format(style='width: 1200px; margin: 25px 25px 25px 0px')
            #pH-heatmap.plotly-graph-div.col-xs-12.col-centered.heatmap-format(style='width: 1200px; margin: 25px 25px 25px 0px')
        // DIV PLOTS END HERE
        // LAND ANALYSIS AREA ENDS HERE
